$darkest:#0F3D59;
$dark:#084F8C;
$darkish:#085A8C;
$lightish:#0A6AA6;
$light:#ABDBFF;
$lightest:#E86D0A;
$black:rgb(20,20,20);
$navBarHeight: 3.5em;
$pageHeight: calc(100vh - #{$navBarHeight} - 1em);
$page:calc(100vh - #{$navBarHeight});