@import "../../../colors";

.board {
    position: relative;
    width: 100vw;
    min-height: $pageHeight;
    &__container {
        padding: 1em;
    }
    &__title {
        color: white;
        font-size: 4.5em;
        text-align: center;
        text-shadow: 0.6px 0.6px 2px $dark;
        padding: 1em;
    }
    &__person {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        
        &__card {
            position: relative;
            flex: 50%;
            width: 100%;
            text-align: center;
            max-width: 30em;
            margin: 1em;
            border-left: .5em solid $lightest;
            padding: 1em 1em 1em 2em;
            &__img {
                max-width: 10em;
                min-width: 5em;
                border-radius: 50%;
            }
            &__name {
                color: $lightest;
                font-size: 1.25em;
                font-weight: 600;
            }
            &__title {
                font-size: 0.95em;
                
            }
            &__description {
                font-size: 0.85em;
                padding: .25em;
            }
        }
        @media (max-width: 1280px) {
            &__card {
                flex: 100%;
                // background-color: yellow;
            }
        }
    }
}
