@import "../../../colors";

.hackathon {
  height: $pageHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__title {
    font-weight: 800;
    font-size: 6vh;
    text-align: center;
    width: 75vw;
    color: #fff;
  }
  &__body{
      margin: 1em;
      max-width: 80vw;
      font-size: 3vh;
      text-align: center;
      font-weight: 600;
  }
  &__overlay{
      position: absolute;
      background-color: rgba(20,20,20,.35);
      overflow: hidden;
      height: 100vh;
      width: 100vw;
      z-index: 1;
  }
}

