@import "../../../colors";

.margin-top{
    margin-top: 2em;
}

.member {
  max-height: none;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__title {
    position: relative;
    top: 5vh;
    font-size: 5em;
    padding: 35px;
    color: black;
    font-weight: bold;
    text-align: center;
  }
  &__body {
    font-size: 1.25em;
    margin: 4em 1em;
    text-align: center;
    width: 75%;
  }
}

.divide{
  margin: 2em 0 0 0;
  display:flex;

}
.section{
  flex:50%;
  width: 50vw;
  // border: 1px solid red;
}
@media screen and (max-width: 780px) {
  .divide{
    display:flex;
    flex-direction: column;

  }
  .section{
    flex:100%;
    width: 100vw;
    // border: 1px solid blue;
  }
}
