@import "../../colors.scss";

.same-form {
    box-shadow: 0 0 2px 1px rgb(11, 72, 92);
    padding: 10px;
    width: 100%;
    z-index:1;
}

.admin-title {
    color: #555;
    letter-spacing: 0.2rem;
    font-style: italic;
    margin-bottom: 10px;
}

.same-form form {
    display: flex;
    flex-direction: column;
}

.same-form label {
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 3px;
    color: #424242;
}

form h4 {
    color: #555;
    letter-spacing: 0.2rem;
    font-style: italic;
    display: none;
}

form textarea {
    padding: 7px;
    border: 1px solid rgb(40, 185, 185);
    outline: none;
}

form input {
    padding: 7px;
    border: 1px solid rgb(40, 185, 185);
    outline: none;
}

form button {
    margin-top: 15px;
    padding: 5px;
    background: rgb(19, 126, 233);
    outline: none;
    border: none;
    cursor: pointer;
    color: rgb(230, 227, 227);
    font-size: 16px;
    letter-spacing: 0.1rem;
    width: 140px;
}

form button:hover {
    background: dodgerblue;
}

.same-item {
    margin: 20px 0;
    border: 1px solid lightgray;
    padding: 10px;
    position: relative;
}

.item-delete-tab {
    background: crimson;
    text-align: center;
    font-style: italic;
    color: white;
    font-weight: 400;
    width: auto;
    padding: 2px 20px;
    margin: 0 auto;
    position: absolute;
    top: 5px;
    left: 50%;
    display: block;
    transform: translateX(-50%);
}

.same-item .icons {
    text-align: right;
    margin: 0 10px;
    font-size: 18px;
}

.same-admin .single-social {
    margin-top: 10px;
}

.technicals-admin .single-technical {
    margin-top: 10px;
}

.fa-trash {
    color: crimson;
    margin-left: 20px;
}

.fa-edit {
    color: green;
    margin-left: 10px;
}

.fa-trash:hover,
.fa-edit:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* responsive */
@media screen and (min-width: 664px) {
    .same-component {
        display: flex;
        flex-wrap: wrap;
    }

    .same-form {
        flex: 0 0 300px;
    }

    .same-item {
        flex: 1;
        margin: 0;
        margin-left: 30px;
    }
}

@media screen and (min-width: 664px) {
    .same-form {
        flex: 0 0 400px;
    }
}

/* social admin */

.same-admin {
    margin-bottom: 5px;
}

.same-admin .single-social p {
    color: lightgray;
}

.socials-admin .single-social-img {
    width: 100%;
    height: 300px;
}

socialls-admin .single-social-img img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 574px) {
    .socials-admin .single-social-img {
        width: 100%;
        height: 350px;
    }

    .socials-admin .single-social-img img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 664px) {
    .socials-admin .single-social {
        display: block;
    }

    .socials-admin .single-social-img {
        width: 275px;
        height: 180px;
    }

    .socials-admin .single-social-img img {
        width: 100%;
        height: 100%;
    }

    .single-social-info {
        flex: 1;
    }
}

@media screen and (min-width: 664px) {
    .socials-admin .single-social-img {
        width: 150px;
        height: 150px;
    }

    .socials-admin .single-social-img img {
        width: 150px;
        height: 100%;
    }

    .socials-admin .single-social {
        display: flex;
        justify-content: space-between;
    }
}

/* technicals */
.technicals-admin .single-technical-img {
    width: 100%;
    height: 300px;
}

.technicals-admin .single-technical-img img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 574px) {
    .technicals-admin .single-technical-img {
        width: 100%;
        height: 350px;
    }

    .technicals-admin .single-technical-img img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 664px) {
    .technicals-admin .single-technical {
        display: block;
    }

    .technicals-admin .single-technical-img {
        width: 275px;
        height: 180px;
    }

    .technicals-admin .single-technical-img img {
        width: 100%;
        height: 100%;
    }

    .single-technical-info {
        flex: 1;
    }
}

@media screen and (min-width: 664px) {
    .technicals-admin .single-technical-img {
        width: 150px;
        height: 150px;
    }

    .technicals-admin .single-technical-img img {
        width: 150px;
        height: 100%;
    }

    .technicals-admin .single-technical {
        display: flex;
        justify-content: space-between;
    }
}

/* upload */
.upload {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}

.upload input {
    align-self: flex-start;
    width: 200px;
}

.file_img {
    position: relative;
    width: 115px;
    height: 45px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.upload img {
    width: 115px;
    display: block;
    height: 90px;
}

.file_img span {
    position: absolute;
    top: -10px;
    right: -7px;
    cursor: pointer;
    color: crimson;
    background: lightgray;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
}

.file_img span p {
    vertical-align: middle;
    text-align: center;
}

/* back to Home */
.back_to_home {
    min-height: 60vh;
    display: flex;
    justify-content: center;
}

.back_box {
    margin-top: 50px;
}

.back_box h2 {
    letter-spacing: 0.1rem;
    color: crimson;
    margin-bottom: 20px;
    font-style: italic;
    text-decoration: underline;
}

.back_box a {
    background-color: dodgerblue;
    padding: 5px 10px;
    color: white;
    font-size: 18px;
}

.back_box a:hover {
    background-color: rgb(82, 156, 230);
}
